.button {
    width: 322px;
    min-height: 67px;
    border-radius: 4px;
    background-color: #f6d365;
    font-size: 25px;
    text-transform: uppercase;
    color: #333333;
    font-weight: 700;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &:hover {
        background-color: #fff700;
        transition: 0.3s all;
    }
}