@media (max-width:1440px) {
    .footer {
        &__wrapper {
            gap: 30px;
        }
    }
}
@media (max-width:1300px) {
    .nav {
        &__list {
            font-size: 18px;
        }
    }
    .title {
        &_h1 {
            font-size: 80px;
        }
    }
    .menu {
        &__list {
            gap: 50px;
        }
    }
    .slider {
        &__wrapper {
            img {
                width: 250px;
                height: 250px;
            }
        }
    }
}

@media (max-width: 1140px) {
    .title {
        font-size: 60px;
    }
    .subtitle {
        font-size: 25px;
    }
    .nav {
        &__wrapper {
            gap: 40px;
        }
        &__list {
            font-size: 18px;
            gap: 40px;
        }
        &__logo {
            width: 100%;
            img {
                width: 60px;
                height: 100%;
            }
        }
    }
    .menu {
        &__list {
            gap: 50px;
            flex-wrap: wrap;
        }
        &__item {
            width: 300px;
            &-img {
                img {
                    width: 100%;
                }
            }
        }
    }
    .wings {
        &__wrapper {
            column-gap: 70px;
        }
    }
    .chicken {
        &__wrapper {
            column-gap: 70px;
        }
    }
    .email {
        padding-bottom: 200px;
        &__form {
            width: 600px;
        }
        // &__input {
        //     width: 400px;
        // }
    }
    .footer {
        padding: 100px 0;
        &__wrapper {
            flex-wrap: wrap;
            gap: 30px;
        }
        &__info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: unset;
        }
        &__title {
            text-align: center;
        }
        &__desc {
            font-size: 20px;
            margin-top: 20px;
        }
        &__socials {
            justify-content: center;
        }
        &__lists {
            width: 100%;
            justify-content: center;
            gap: 100px;
        }
        &__about,
        &__other,
        &__services {
            font-size: 20px;
        }
    }
    .slider {
        &__wrapper {
            img {
                width: 200px;
                height: 200px;
            }
        }
    }
}

@media (max-width: 992px) {
    .button {
        width: 220px;
        min-height: unset;
        height: 45px;
        font-size: 20px;
    }
    .title {
        font-size: 40px;
    }
    .subtitle {
        width: unset;
        font-size: 20px;
    }
    .nav {
        padding: 0 20px;
        &__list {
            gap: 30px;
            font-size: 16px;
        }
    }
    .promo {
        min-height: unset;
        padding-bottom: 140px;
    }
    .wings {
        &__wrapper {
            grid-template-columns: minmax(150px, auto) minmax(200px, 573px);
        }
    }
    .statistics {
        padding-top: 60px;
        padding-bottom: 100px;
        &__list {
            margin-top: 50px;
            flex-wrap: wrap;
            gap: 40px;
        }
        &__item {
            height: 200px;
            width: 200px;
            padding: 0 15px;
            border: 5px solid #333;
        }
        &__num {
            font-size: 40px;
        }
        &__name {
            font-size: 20px;
        }
    }
    .chicken {
        &__wrapper {
            grid-template-columns: minmax(200px, 573px) minmax(150px, auto);
        }
    }
    .chef {
        padding-bottom: 100px;
        &__name {
            font-size: 30px;
            margin-top: 25px;
        }
        &__subtitle {
            margin-top: 50px;
        }
    }
    .email {
        padding: 100px 0 150px 0;
        &__form {
            height: 50px;
            width: 500px;
        }
        &__input {
            &::placeholder {
                font-size: 18px;
            }
        }
        &__btn {
            font-size: 18px;
        }
    }
    .slider {
        &__wrapper {
            height: 200px;
            img {
                width: 200px;
                height: 200px;
            }
        }
    }
    .menu {
        &__subtitle {
            margin-top: 20px;
        }
        &__list {
            gap: 30px;
            margin-top: 40px;
        }
        &__item {
            &-img {
                img {
                    width: 100%;
                }
            }
            &-title {
                font-size: 25px;
                margin-top: 15px;
            }
            &-desc {
                font-size: 18px;
            }
        }
    }
    .footer {
        &__title {
            font-size: 25px;
        }
        &__desc {
            font-size: 18px;
        }
        &__list {
            &-name {
                font-size: 25px;
                margin-bottom: 10px;
            }
        }
        &__about,
        &__services,
        &__others {
            font-size: 18px;
        }
    }
}

@media (max-width: 768px) {
    .title {
        font-size: 30px;
    }
    .subtitle {
        font-size: 18px;
    }
    .nav {

        &__list {
            gap: 20px;
            font-size: 14px;
        }
        &__search {
            width: 20px;
            height: 20px;
        }
        &__wrapper {
            gap: 20px;
        }
        &__logo {
            width: unset;
            img {
                width: 50px;
            }
        }
    }
    .promo {
        padding-top: 20px;
    }
    .wings {
        &__title {
            margin-top: 0;
        }
        &__subtitle {
            margin-top: 40px;
        }
        &__wrapper {
            grid-template-rows: 400px;
            column-gap: 40px;
        }
        &__button {
            margin-top: 48px;
            width: 150px;
            font-size: 18px;
        }
    }
    .chicken {
        &__title {
            margin-top: 0;
        }
        &__subtitle {
            margin-top: 40px;
        }
        &__wrapper {
            grid-template-rows: 400px;
            column-gap: 40px;
        }
        &__button {
            margin-top: 48px;
            width: 150px;
            font-size: 18px;
        }
    }
    .chef {
        img {
            width: 200px;
        }
    }
    .email {
        &__form {
            width: 400px;
        }
        &__btn {
            font-size: 16px;
        }
    }
}

@media (max-width: 576px) {
    .nav {
        display: none;
        align-items: flex-start;
        // position: relative;
        &__wrapper {
            flex-direction: column;
            gap: 10px;
            padding: 20px 0;
        }
        &__list {
            flex-direction: column;
            font-size: 16px;
            gap: 25px;
            li {
                text-align: center;
            }
        }
        &__search {
            width: auto;
            display: flex;
            justify-content: center;
            img {
                width: 20px;
                height: 20px;
            }
        }
        &_media {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 70%;
            padding: 10px 0;
            background-color: rgba(0, 0, 0, .8);
            transform: translateX(-100%);
            transition: 0.6s all;
        }
        &_active {
            transform: translateX(0%);
        }
    }
    .promo {
        position: relative;
        padding-top: 50px;
        &__title {
            margin-top: 30px;
        }
    }
    .burger {
        display: flex;
    }
    .menu {
        &__item {
            width: 230px;
        }
    }
    .slider {
        padding: 40px 0;
        &__wrapper {
            margin-top: 20px;
        }
        img {
            width: 170px;
            height: 170px;
        }
    }
    .slick {
        &-prev,
        &-next {
            padding: 0 10px;
            width: 100px;
            height: 50px;
            font-size: 30px;
        }
    }
    .wings {
        &__wrapper {
            grid-template-columns: auto;
            grid-template-rows: auto;
            row-gap: 40px;

            &_info {
                order: 1
            }
        }
        &__img {
            order: 2;
        }
    }
    .chicken {
        &__wrapper {
            grid-template-columns: auto;
            grid-template-rows: auto;
            row-gap: 40px;

        }
    }
    .email {
        padding: 50px 0 90px 0;
        &__subtitle {
            margin: 40px auto 0 auto;
        }
        &__form {
            width: 240px;
            height: unset;
            display: flex;
            flex-direction: column;
            gap: 10px;
            align-items: center;
            margin: 50px auto 0 auto;
        }
        &__input {
            width: 100%;
            height: 35px;
            &::placeholder {
                font-size: 14px;
            }
        }
        &__btn {
            width: 150px;
            padding: 0 10px;
            font-size: 14px;
            height: 35px;
        }
    }
    .footer {
        padding: 50px 0;
        &__title {
            font-size: 18px;
        }
        &__desc {
            font-size: 14px;
        }
        &__lists {
            flex-direction: column;
            gap: 30px;
        }
        &__socials {
            font-size: 20px;
            li {
                width: 35px;
                height: 35px;
            }
            img {
                width: 20px;
                height: 20px;
            }
        }
        &__list {
            &-name {
                font-size: 18px;
            }
        }
        &__about,
        &__services,
        &__other {
            font-size: 14px;
            line-height: 30px;
            text-align: center;
        }
    }
}